
@{
    ViewBag.Title = "Upload file Splus Activity Daily";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload file Splus Activity Daily: DMX, MM, PICO, VHC, CP</h2>

@using (Html.BeginForm("CreateSplus", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formID" }))
{
    @Html.AntiForgeryToken()


    <div class="input-group">

        @if (TempData["SSuccess"] != null)
        {
            @Html.ValidationSummary(false, "", new { @class = "text-success" })

        }
        else
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        }

        <input type="file" name="file" class="form-control" id="exampleInputFile">
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>

}

@*<h2>Upload file Splus Activity Daily: NK</h2>

@using (Html.BeginForm("CreateSplusNK", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formID" }))
{
    @Html.AntiForgeryToken()


    <div class="input-group">

        @if (TempData["SSuccess"] != null)
        {
            @Html.ValidationSummary(false, "", new { @class = "text-success" })

        }
        else
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        }

        <input type="file" name="file" class="form-control" id="exampleInputFile">
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>

}*@


<br />
<br />
<br />
<h2>Reset Data</h2>
<br />
@using (Html.BeginForm("ResetData", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formID" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Chọn Dealer</label>
        </div>
        <select class="custom-select" name="dealer" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="DMX">DMX</option>
            <option value="NK">NK</option>
            <option value="CP">CP</option>
            <option value="MM">MM</option>
            <option value="PICO">PICO</option>
            <option value="VHC">VHC</option>
        </select>
    </div>
    if (TempData["DSuccess"] != null)
    {
        @Html.ValidationSummary(false, "", new { @class = "text-success" })

    }
    else
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    }
    <div class="input-group mb-3">
        <input class="btn btn-primary" type="submit" onclick="if (confirm('Bạn có chắc không?')) return true; else return false;" value="Submit">

    </div>
}


<h2>Upload new data from Dealer</h2>
<br />
<img src="~/dist/img/template1.jpg" />
@using (Html.BeginForm("CreateDearler", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formID" }))
{
    @Html.AntiForgeryToken()


    <div class="input-group">

        @if (TempData["DSuccess"] != null)
        {
            @Html.ValidationSummary(false, "", new { @class = "text-success" })

        }
        else
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        }
        <input type="file" name="file" class="form-control" id="exampleInputFile">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
